#countLabel {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
}

/* let's center the button container */

#btnContainer {
    text-align: center;
}

.buttons {
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color:rgb(26, 26, 105);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s; /*it changes the background color after hovering (adding hovering afterwards)*/
}

.buttons:hover {
    background-color: rgb(60, 60, 173);
}